version: '3.8'
services:
  backend:
    build: ./backend
    # Maps localhost:8000 to container:8000 (FastAPI)
    ports:
      - "8000:8000"
    environment:
      # We use the service name 'postgres' as the hostname
      - DATABASE_URL=postgresql://tourism_user:dev_password@postgres:5432/tourism_db
      - REDIS_URL=redis://redis:6379
      - VIETMAP_BASE_URL=https://maps.vietmap.vn/api
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - VIETMAP_API_KEY=${VIETMAP_API_KEY}
    depends_on:
      - postgres
      - redis
    # Mounts your local 'backend' folder to '/code' in the container for live editing
    volumes:
      - ./backend:/code

  frontend:
    build: ./frontend

    ports:
      - "3000:80"
    env_file:
    - .env
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=tourism_user
      - POSTGRES_PASSWORD=dev_password
      - POSTGRES_DB=tourism_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data: