# HƯỚNG DẪN:
# 1. copy vào file .evn
# 2. Điền key thật của bạn vào các chỗ trống bên dưới

# API Keys
GEMINI_API_KEY=
VIETMAP_API_KEY=

# Database (Optional)
POSTGRES_USER=tourism_user
POSTGRES_PASSWORD=dev_password

# Auth
AUTH_TOKEN=